.rbc-row-segment {
  margin: 1.5px 0;
  padding: 0 4px 1px 4px !important;
}

.rbc-date-cell {
  text-align: left !important;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
}

.rbc-date-cell.rbc-now.rbc-now .rbc-button-link{
 background-color: #4B5563;
 color: white;
 border-radius: 100%;
 min-width: 28px;
 min-height: 28px;
}

.rbc-header {
  padding: 3px 3px 6px 3px !important;
}

.rbc-time-content {
  display: none !important;
}

.rbc-time-header {
  height: 100%;
}

/* to show "more" option below in cell */
.rbc-row-content {
  min-height: 110px !important;
}

.rbc-month-row {
  overflow: visible !important;
}
/* ---- */

.rbc-button-link.rbc-show-more {
  color: #161616;
  text-decoration: underline;
  font-weight: 500;
}